@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.day-mode {
  background-color: #f0f0f0;
}

body.night-mode {
  background: #222831;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
